<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Edit{% endblock %}</title>
</head>
<body>

<form>
    <label>Name</label>
    <input type="text">
    <br>

    <label>Username</label>
    <input type="text">
    <br>

    <label>website</label>
    <input type="text">
    <br>
    <label>bio</label>
    <input type="text">
    <br>
    <label>email</label>
    <input type="text">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>