{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block styles %}
{{super()}}
<link type="text/css" href="../static/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/signin.css">
{% endblock %}

{% block content %}
<form class="form-inline" action="{{url_for('profile_bp.searchresult')}}">
    <div class="form-group mx-sm-3 mb-2">
        <label for="input" class="sr-only">Lol</label>
        <input type="text" class="form-control" id="input" placeholder="Enter Username...">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Age</th>
        <th scope="col">Single?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>{{find['username']}}</td>
        <td>{{find['age']}}</td>
        <td>{{find['single?']}}</td>
    </tr>
    </tbody>
</table>
{% endblock %}