<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Settings{% endblock %}</title>
</head>
<body>

<h1>Welcome to Settings</h1>
<!--
<a>Edit Profile</a><br>
<a>Change Password</a><br>
<a>Apps and Websites</a><br>
<a>Apps and Websites</a><br>
-->

<img src="{{url_for('profile_bp.static', filename='images/settings.jpg')}}">
<!--<img src="{{url_for('profile_bp.static', filename='images/settings.png')}}">-->
<br>




<!-- log out button only here when users are logged in -->
<!-- if guest, will be unable to log out-->
{% if current_user.is_authenticated %}
<form action={{url_for('profile_bp.logout')}} method="post"><input type="submit" value="Log Out"></form>
{% endif %}
<br>
<a href="{{ url_for('profile_bp.user_profile') }}">Back to Profile</a>
</body>
</html>