<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{{ super() }}
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Chat PLaces{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('profile_bp.static', filename='css/profile.css') }}">
</head>
<body>
<!--<h1>Chat Functionality</h1>-->
<h1>Welcome to chat room {{room}}</h1>
<div id="messages"></div>

<form>
  <input type="text" placeholder="Enter your message here">
  <button type="submit">Send</button>
</form>
</body>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<script>
  // const socket = io.connect('http://' + document.domain + ':' + location.port);
  const socket = io.connect("http://127.0.0.1:5000");

  socket.on('connect', function (){
    socket.emit('join_room', {
      username: "{{ username }}",
      room: "{{room}}"
    })

  })

  //for others users joining the room
  socket.on("join_room_announcement", function (data){
    console.log(data);
    const newNode = document.createElement("div")
    newNode.innerHTML = String(data.username) + " has joined the room"
    document.getElementById("messages").appendChild(newNode)
  })

</script>
</html>

{% endblock %}