<!DOCTYPE html>
{% extends "base2.html" %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conversion{% endblock %}</title>
</head>

{% block content %}
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Conversion series in Python</strong></h1>
        </div>

        <!-- Input and Content -->
        <div class="jumbotron text-center row">
            <div class="col-md-3">
                <div style="background-color: #749874">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

            <div class="col-md-9">
                <div style="background-color: #E38D8D">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

            </div>
        </div>

    </div>

</div>
</div>
{% endblock %}
