<!DOCTYPE html>
{% extends "base2.html" %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Network Map Maker{% endblock %}</title>
</head>

<style>
    #canvas {

    }
</style>

{% block content %}
<div style="margin-left: 15px" >
<h1>Network Map</h1>

    <div id="canvas" style="
        width: 500px;
        height: 500px;
        background-color: #0f6674;
        z-index: -1">
    </div>

    <br>
    <p>Refrences</p>
    <ul>
        <li><a href="https://www.geeksforgeeks.org/how-to-get-the-coordinates-of-a-mouse-click-on-a-canvas-element/#:~:text=The%20x%20position%20of%20the%20canvas%20element%2C%20i.e.%20the%20left,the%20bounding%20rectangle's%20y%20position.">article drawing</a></li>
        <li><a href="https://www.w3schools.com/graphics/tryit.asp?filename=trysvg_line">svg line</a></li>
    </ul>
</div>

<script>
    numbAddedBoxes = 0;

    canvas = document.getElementById("canvas")
    let rect = canvas.getBoundingClientRect();
    b = 0
    canvas.addEventListener("click", function(event){

        var x = event.clientX - rect.left -25;     // Get the horizontal coordinate subtract the posititon of the div subtract half of the width fo the div
        var y = event.clientY - rect.top -25;    // Get the vertical coordinate

        console.log('clicked canvas')
        var coor = "X coords: " + x + ", Y coords: " + y;
        console.log(coor)

        b = Number(b) + 1;
        addBox(x,y,b)

    }, false);


    function addBox(x,y, increment) {
        //var i = numbAddedBoxes + 1
        var idButton = "device" + increment;

        new_box = document.createElement('div');
        new_box.style.position = 'absolute';
        new_box.style.background = "rgb(126, 127, 143)";
        new_box.style.width ='50px';
        new_box.style.height ='50px';
        new_box.style.marginLeft = String(x)+'px';
        new_box.style.marginTop = String(y)+'px';
        new_box.style.zIndex = 5;

        console.log("getting the new idName: " + String(idButton));
        new_box.setAttribute("id", idButton); //defining the id for the box
        canvas.appendChild(new_box);
    }
</script>
{% endblock %}
