<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>userprofile</title>

    <style>
        #profile_photo{
            border-radius: 50%;
        }

    </style>

</head>
<body>

<h1>Hello World</h1>

<!-- profile_photo will be ported in through the database-->
<img id='profile_photo' src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-19/s150x150/21294914_364637993991993_6505386031796191232_a.jpg?tp=1&_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_ohc=NqY4Pxr_2GEAX9HqNjo&ccb=7-4&oh=467b9a18d121f9c369a20ecb76bbe025&oe=6080FFC0">

<h1>Account Name</h1>
<button>Edit Profile</button>
<button>Settings</button>

<p1># of posts</p1>
<p1># of followers</p1>
<p1># of following</p1>
<p1>description</p1>
<a>website link</a>

<div>Stories</div>


</body>
</html>