<!DOCTYPE html>
{% extends "base2.html" %}
{{ super() }}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bubble  Sort{% endblock %}</title>

    <style>
    .single {
      background-color: #6969AC;
      color: white;
    }
  </style>
</head>

{% block content %}
<div class="container">

    <div class="center-block" style="margin: 2% 5% 5%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Bubble Sort</strong></h1>
        </div>

        <!-- Input and Content -->
        <div class="jumbotron text-center row">
            <!-- Input -->
            <!-- color pallet I am using: https://coolors.co/30292f-413f54-5f5aa2-355691-3f4045-->
            <div class="col-md-5">
                <div id="multi" style="background-color: #05556D">
                    <form action="{{ url_for('diego_bp.bubblesort') }}" method="post">
                        <label style="color: #FFFFFF"><b>Input Numbers to Bubble Sort</b></label>
                        <g id="multi_input">
                            <input style="margin-bottom: 10px" name="user_input1" type="number">
                            <input style="margin-bottom: 10px" name="user_input2" type="number">
                            <input style="margin-bottom: 10px" name="user_input3" type="number">
                            <input style="margin-bottom: 10px" name="user_input4" type="number">
                            <input style="margin-bottom: 10px" name="user_input5" type="number">
                        </g>
                        <br>
                        <input type="button" id="button_add" value="Add">
                        <input type="button" id="button_minus" value="Minus" disabled>
                        <input type="number" id="newbox_counter" name="newbox_counter" hidden>
                        <input style="margin-bottom: 10px" type="submit" class="button" value="Submit">
                    </form>
                </div>
            </div>

            <!-- Content-->
            <!-- Color Pallet: https://coolors.co/313715-d16014-939f5c-bbce8a-e2f9b8-->


            <div class="col-md-5">
                <div style="background-color: #CD7F4D">
                    <h3>Output</h3>
                    <p>{{output_list}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

{% endblock %}