<!DOCTYPE html>

<html lang="en">
<head>

    <title>Piece of the Pie - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}

    <style>
        .icon{
            border-radius: 50%;
            background-color: seagreen;
            height: 50px;
            width: 50px;
        }

        .icon:hover {
            background-color: #6969AC;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/easteregg">Python Mini Lab</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <!--<li class="nav-item">
            <a href="{{ url_for('profile_bp.user_profile') }}">
                <div class="icon">
                </div>
            </a>
        </li>-->
        <li class="nav-item">
            <a href="{{ url_for('profile_bp.user_profile') }}">
                <div class="icon">
                </div>
            </a>
        </li>

    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>