<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacting the Creators</title>
</head>
<body>
<h1>Contacting the Creators</h1>
</body>
<h2>Project Leader Bradley</h2>
<h4>Contact info:</h4>
<h4>Email:bradleyvb56@gmail.com</h4>
<h5>Favorite type of pizza</h5>
<h2>Technology Leader Andrew</h2>
<h4>Contact info:</h4>
<h4>Email: andrewzh2021@gmail.com</h4>
<h5>Favorite type of pizza</h5>
<h2>Techinicals Leader Colin</h2>
<h4>Contact info:</h4>
<h4>Email:colininsprire@gmail.com</h4>
<h5>Favorite type of pizza</h5>
<h2>Group Member Diego</h2>
<h4>Contact info:</h4>
<h4>Email:dkrenz78@gmail.com</h4>
<h5>Favorite type of pizza</h5>
<h2>Group Member DK</h2>
<h4>Contact info:</h4>
<h4>Email:dkgaming@gmail.com</h4>
<h5>Favorite type of pizza</h5>
</html>